.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.password-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 500px; /* Set a maximum height */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.password-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}

.password-item-content {
  display: flex;
  flex-direction: column;
}

.password-item-content h3 {
  margin: 0;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.password-item-content p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.delete-btn {
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.toggle-password-btn {
  background: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.toggle-password-btn:hover {
  background-color: #138496;
}

.add-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.error {
  color: #dc3545;
}
